{"counter":6,"notes":[{"title":"Exercise ","text":"Swimming\nYoga\nHiking\nCycling","id":1},{"title":"Homework Tasks","text":"Push to Heroku\nTest on Heroku\nAllow updates? ","id":4},{"title":"Groceries","text":"apples\nmangos\ncookies\nyogurt\n","id":6}]}